body{
    display: flex;
    justify-content: center;
    margin:100px auto;
    padding: 20px;
    height: 55vh;
    background-color: rgb(195, 172, 216);
}
input[type=date]{
    padding: 8px;
    font-size: 20px;
    width: 200px;
    border: 1px solid purple;
    
}
.age{
    padding:20px;
    width: 600px;
    align-items: center;
    text-align: center;
    background-color: rgb(223, 190, 218);
    backdrop-filter:blur(20px);
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 10px 0 rgb(83, 2, 83);
}
h1{
    text-align: center;
    color: rgb(105, 29, 74);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button{
    background-color: rgb(240, 230, 240);
    color: rgb(87, 16, 68);
    padding: 20px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    margin: 30px;
    border-radius: 10px;
}
button:hover{
 transition: background-color 0.8s ease-out;
 background-color: rgb(197, 163, 183) ;
}

#result{
    font-size: 30px;
    color: rgb(102, 19, 77);
    text-align: center;
    font-weight:300;
    margin-top: 7px;
}
